.container {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 10%;
    padding: 5px;
    gap: 25px;
    align-items: center;
}

.thumbnail {
    border-radius: 10px;
    height: 7.5vh;
}

.title{
    color: blue
}