.container {
    display: flex;
    border: 1px solid black;
    width: 100%;
    height: 10%;
    padding: 5px;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.thumbnail {
    border-radius: 20px;
}

.title{
    color: blue
}